* {
    margin: 0;
}

body {
    margin: 30px;
    background-color: #343838;
}

header {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.titulo {
    justify-self: center;
    height: 100px;
    width: 350px;
    background-color: #005f6b;
    border-radius: 30px;
    align-items: center;
}

.pesquisa {
    margin: 5px;
    height: 35px;
    width: 225px;
    border-radius: 30px;
    background-color: #008c9e;
    justify-self: center;
    align-items: center;
}

button {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
}

.produtos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-items: center;
    align-items: center;
}