* {
    margin: 0;
    padding: 0;
}

body {
    margin: 10px;
    background-color: #343838;
}

header {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.titulo {
    margin: 15px;
    justify-self: center;
    height: 100px;
    width: 350px;
    background-color: #005f6b;
    border-radius: 30px;
    align-items: center;
}

.titulo2 {
    margin: 15px;
    justify-self: center;
    height: 50px;
    width: 250px;
    background-color: #21a8b9;
    border-radius: 30px;
    align-items: center;
}

.pesquisa {
    margin: 15px;
    height: 75px;
    width: 250px;
    border-radius: 30px;
    background-color: #008c9e;
    justify-self: center;
    align-items: center;
}

button {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
}

.produtos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-items: center;
    align-items: center;
    margin: 15px;
}

.filme {
    background-color: #73d3bb;
    height: 350px;
    width: 350px;
    border-radius: 30px;
    display: grid;
    justify-items: center;
}

video {
    border-radius: 30px;
}

.sigma {
    background-color: #73d3bb;
    height: 350px;
    width: 350px;
    border-radius: 30px;
    display: grid;
    justify-items: center;
}

.roblox {
    background-color: #73d3bb;
    height: 350px;
    width: 350px;
    border-radius: 30px;
    display: grid;
    justify-items: center;
}

nav {
    display: flex;
    gap: 50px;
}

a {
    color: rgb(29, 214, 122);
}

.copy {
    color: #008c9e;
    padding: 5px;
    margin-right: 50px;
}

.tituloCont {
    margin: 15px;
    justify-self: center;
    height: 50px;
    width: 500px;
    background-color: #21a8b9;
    border-radius: 30px;
    align-items: center;
}

.linkProd {
    color: #115b97;
}

.tituloProd {
    margin: 20px;
    justify-self: center;
    height: 50px;
    width: 500px;
    background-color: #21a8b9;
    border-radius: 30px;
    align-items: center;
}

.produtos2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-items: center;
    align-items: center;
    margin: 20px;
}

.filme2 {
    background-color: #73d3bb;
    height: 400px;
    width: 350px;
    border-radius: 30px;
    display: grid;
    justify-items: center;
}

.desc1 {
    background-color: #20b463;
    height: 75px;
    width: 300px;
    border-radius: 20px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.desc2 {
    background-color: #20b463;
    height: 75px;
    width: 300px;
    border-radius: 20px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.desc3 {
    background-color: #20b463;
    height: 75px;
    width: 300px;
    border-radius: 20px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.preco {
    background-color: #1ba517;
    width: 250px;
    border-radius: 20px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.fora {
    background-color: #cc2424;
}

video {
    border-radius: 30px;
}

.sigma2 {
    background-color: #73d3bb;
    height: 400px;
    width: 350px;
    border-radius: 30px;
    display: grid;
    justify-items: center;
}

.roblox2 {
    background-color: #73d3bb;
    height: 400px;
    width: 350px;
    border-radius: 30px;
    display: grid;
    justify-items: center;
}

.formulario {
    background-color: #20b463;
    height: 250px;
    width: 250px;
    border-radius: 20px;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-self: center;
}

.limpar {
    background-color: #ff0000;
    height: 30px;
    width: 50px;
    border-radius: 20px;
}

.enviar {
    background-color: #48ff00;
    height: 30px;
    width: 50px;
    border-radius: 20px;
}

.curriculo {
    border-radius: 20px;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-self: center;
    margin: 20px;
}

#modo {
    transform: scale(2);
    border: none;
    background: none;
    display: grid;
    justify-self: center;
}

.comprar {
    background-color: #4ed861;
    width: 75px;
    border-radius: 20px;
}
.favorito {
    font-size: 24px;
    border: none;
    background: none;
    display: grid;
    justify-self: center;
}

.favoritar {
    color: var(--cor-favorito);
}

.favoritar2 {
    outline: 3px solid var(--cor-favorito);
}

.destacar {
    outline: 3px solid var(--cor-sucesso);
}

.aceito {
    color: var(--cor-sucesso);
}

.aceitoCompra {
    color: var(--cor-temaClaro);
    background-color: var(--cor-sucesso);
}

.recusado {
    color: var(--cor-temaClaro);
    background-color: var(--cor-recusado);
}

.modoClaro {
    background-color: var(--cor-temaClaro);
}

:root {
    --cor-temaClaro: #ffffff;
    --cor-sucesso: #0000ff;
    --cor-recusado: #ff0000;
    --cor-favorito: #ffff00;
}